<h1>New Lobbymessage</h1>

<%= render 'form', lobbymessage: @lobbymessage %>
<body background="https://github.com/UNArqui17i-D/FrontEnd/blob/master/images/background.jpg">

<%= link_to 'Back', lobbymessages_path %>
